@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500;700&family=Rubik:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    /*   color: rgba(0, 10, 0, 0.013); */
}
.logoPrint {
    display: none;
}
@media print {
    html,
    body {
        font-family: "Arial Unicode MS", Arial, sans-serif;
        direction: rtl;
        background-color: white !important;
        color: black !important;

        .logoPrint {
            display: flex;
        }
        .MuiTableCell-root {
            color: black !important;
        }
    }
}
